@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Botón para descargar tu CV -->
    <a href="~/pdf/Hoja de vida actualizada.pdf" download class="btn btn-light mt-3">
        <i class="bi bi-download"></i> Descargar CV
    </a>
</div>
